<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    {%if not request.user.is_authenticated %}
    <a href="{% url 'auth' %}"><span class="font-weight-bolder text-danger">You have to LOGIN</span></a>

    {% else %}

    <table class="table">

        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">{{request.user.username}}</th>
            </tr>
        </thead>

        <tbody>
            {% for profile in userProfiles%}
            <tr>
                <th scope="row">1</th>
                <td><a href="{{profile.id}}">{{profile.id}}</a></td>
                <td>{{profile.user.username}}</td>
                <td>{{profile.email}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>


    <form style="display: inline" action="{% url 'list' %}" method="GET">
        {% csrf_token %}
        <button class="btn btn-primary">View all Profiles in Drf</button>
    </form>

    <form style="display: inline" action="{% url 'log_out' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger">LogOut</button>
    </form>

    <h4>Press ID s to locate userProfile </h4>

    <h5>Loged User can Edit any Profiles</h5>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>